{% extends 'base.html' %}

{% block title %} Tarefas pendentes {% endblock %}

{% block content %}
  <h1>Tarefas pendentes:</h1>
  <div class="list-group">
     {% for tarefa in tarefas_pendentes %}

   <button type="button" class="list-group-intem list-group-intem-action" data-bs-toggle="'modal" data-bs-target="#modal{{ tarefa.id }}">

     <h5> {{ tarefa.descricao }} </h5>
     <small>Criado em: {{ tarefa.criacao.day }}/{{ tarefa.criacao.month }}/{{ tarefa.criacao.year }}  </small>

   </button>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="modal{{ tarefa.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ tarefa.descricao }} | {{ tarefa.categoria }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Modal body
      </div>
      </div>
    </div>
  </div>
</div>

    {% endfor %}
  </div>
{% endblock %}